@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray-primary: var(--gray-primary);
  --font-fira-code: var(--font-fira-code);
  --font-fira-mono: var(--font-fira-mono);
  --font-kufi-arabic: var(--font-kufi-arabic) 
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.2921 0.014 261.7);
    --foreground: #ededed;
    --primary: oklch(0.6947 0.164 318.63);
    --gray-primary: oklch(0.7621 0.0202 262.99);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}
